streamlit>=1.30.0
pandas>=2.0.0
scikit-learn
selenium
webdriver-manager
requests>=2.31.0
certifi
pdfplumber
sentence-transformers
spacy>=3.7.0
sqlalchemy>=2.0.0
python-dotenv>=1.0.0
beautifulsoup4>=4.12.0
